files:
    "/etc/yum.repos.d/newrelic-infra.repo":
        mode: "00775"
        owner: root
        source: "https://download.newrelic.com/infrastructure_agent/linux/yum/el/7/x86_64/newrelic-infra.repo"

commands:
    command-0:
        command: sudo yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
    command-1:
        command: sudo yum install newrelic-infra -y
